[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vimfiles/bundle/vim-endwise"]
	path = vimfiles/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vim-liquid"]
	path = vimfiles/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vimfiles/bundle/vim-matchit"]
	path = vimfiles/bundle/vim-matchit
	url = https://github.com/mhz/vim-matchit.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/ack-vim"]
	path = vimfiles/bundle/ack-vim
	url = git://github.com/mileszs/ack.vim.git
